<html>
	<head>
		<title>Nulis online - Klapi</title>
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="propeller" content="7c1ef877860447193d51729a92ea16e1">
<style>
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #C7C7C7;
  border-radius: 4px;
  background-color: #FFFF;
  resize: none;
}
button {
	box-sizing: border-box;
	border: 2px solid #C7C7C7;
	border-radius: 4px;
	background-color: #f8f8f8;
}
body {
	background-color: #FAFAFA;
}
</style>
   </head>
   <body>
<script src="https://stootsou.net/pfe/current/tag.min.js?z=4735342" data-cfasync="false" async></script>
<script type="text/javascript" src="https://pjjpp.com/pup.php?section=General&pt=2&pub=681556&ga=g"></script>
   	<table>
   	<form name="woe" action="/nulis" method="POST">
           <hr>
           <h4>Hallo {{ g.user.username }} , Write new book : </h4>
           <textarea name="query" ></textarea>
           <br>
           <hr>
           <button type="submit">write the book</button>
           <button type="reset">reset teks</button>
           <button href="/docs">back home</button>
           <button type="button" OnClick="woe.query.value+='%0A'">Enter text</button>
       </form>
       </table>
       <footer align="center">
       	<br><br><img align="center" src="{{ g.images }}" alt="Result" width="300" height="400"/><br><hr>
       	<h5>made with by ♥ Farhanss</h5>
       </footer>
    </body>

</html>
